<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Board Test</title>


<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">


<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>


function callAdd11(){
	alert("!!!!!!!!!!");
}

function callAdd(){
	alert("222222");
	var queryString = $("form[name=frmBoard]").serialize() ;
	 
    $.ajax({
        type : 'post',
        url : '/addUser',
        data : queryString,
        dataType : 'json',
        success : function(data){
            alert(data);
            JSON.stringify(data);
            console.log("AAAAAAAAAAAA");
        },
    });

}


//게시판이동
function BoardWrite(){

		window.location.href = "/BoardWrite";

}

</script>

</head>
<body>
<form id="frmBoard" name="frmBoard" method="post" >
		<h2>TEST_BOARD</h2>
		
		<table class="">
      	<tr>
      		<td>게시판</td>
      	</tr>
      </table>
		
      <table border="1px">
      	<tr>
      		<td>순번</td>
      		<td>제목</td>
      		<td>작성자</td>
      		<td>등록일시</td>
      	</tr>
      	<tbody>
	     <tr th:if="${boardList.size() > 0}"   th:each="board : ${boardList}">
	         <td th:text="${board.no}" align="center">NO</td>    
	         <td th:text="${board.title}" align="center">제목</td>
	         <td th:text="${board.writeId}" align="center">성명</td>
	         <td th:text="${#temporals.format(board.writeDate, 'yyyy-MM-dd')}" align="center">등록일시</td>
<!-- 	         <td th:text="${board.USE_YN}" align="center">사용여부</td> -->
	     </tr>
	     <tr th:unless="${boardList.size() > 0}"><!-- if반대  unless -->
	     	<td colspan="4"> 작성된 글이 없습니다.</td>
	     </tr>
	     
	     </tbody>
      </table>
      <br/>
      <input type="button" id="btn" name="btn" value="글작성" onclick="javascript:BoardWrite()">
      세션아이디 : <p th:text="${session.sessionId}">아이디</p>
</form>
</body>
</html>