<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Board Test</title>


<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">


<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>


function callAdd11(){
	alert("!!!!!!!!!!");
}

function callAdd(){
	alert("222222");
	var queryString = $("form[name=frmBoard]").serialize() ;
	 
    $.ajax({
        type : 'post',
        url : '/addUser',
        data : queryString,
        dataType : 'json',
        success : function(data){
            alert(data);
            JSON.stringify(data);
            console.log("AAAAAAAAAAAA");
        },
    });

}

</script>

</head>
<body>
<form id="frmBoard" name="frmBoard" method="post" >
		<h2>TEST_BOARD</h2>
		
		<table class="">
      	<tr>
      		<td>회원정보</td>
      	</tr>
      </table>
		
      <!-- 
      <table class="">
      	<tr>
      		<td>123123</td>
      	</tr>
      </table>
      <div>
      	<input type="button" id="btn" name="btn" value="유저 생성" onclick="javascript:callAdd()">
      </div>
      
      <table border="1px" >
      	<tr>
      		<td>
      			가나다라
      		</td>
      	</tr>
      	<tr>
      		<td>
      			아아아아
      		</td>
      	</tr>
      </table>
       -->
      
      <table border="1px">
      	<tr>
      		<td>순번</td>
      		<td>ID</td>
      		<td>성명</td>
      		<td>등록일시</td>
      		<td>사용여부</td>
      	</tr>
      	<tbody>
	     <tr th:each="user : ${userInfoList}">
	         <td th:text="${user.no}" align="center">NO</td>    
	         <td th:text="${user.userId}" align="center">ID</td>
	         <td th:text="${user.userName}" align="center">성명</td>
	         <td th:text="${#temporals.format(user.writeDate, 'yyyy-MM-dd')}" align="center">등록일시</td>
	         <td th:text="${user.useYn}" align="center">사용여부</td>
	     </tr>
	     </tbody>
      </table>
      <!-- 세션아이디 : <p th:text="${session.sessionId}">아이디</p> -->
</form>
</body>
</html>